.ContactContainer {
    display: flex;
   align-items: center;
   flex-direction: column;
    grid-gap: 10px;
    background-color: rgba(20, 21, 25, 1) ;
    border-radius: 20px;
    color: rgb(209, 226, 241);
    font-family: 'Courier Prime', monospace;
    padding: 20px;
    margin-top: 20px;
}
  
.ContactContainer h3 {
    text-align: left;  
    font-size:2rem;

}
  
  



@media (max-width: 768px) {
    .ContactContainer h2 {
      text-align: center; /* Alinea el texto al centro en dispositivos móviles */
    }
}
