/* sendEmail.module.css */


.form {
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 10px;
    max-width: 400px; 
    margin: 0 auto; 
    padding: 20px; 
    background-color: rgba(20, 21, 25, 0.606) ;
    border-radius: 40px; 
   
    
}


  
  
input[type="text"], input[type="email"] {
    width: 300px;
    padding: 5px; 
    border: 1px solid #cccccc; 
    border-radius: 10px; 
    font-family: 'Courier Prime', monospace;
    background-color:  rgba(243, 243, 243, 0.853);
}
   

  
textarea {
    background-color: rgba(243, 243, 243, 0.853);
    width: 300px; 
    height: 100px;
    padding: 5px;
    border: 1px solid rgb(255 255 255); 
    border-radius: 15px; 
    font-family: 'Courier Prime', monospace;
    resize: none; 
}
  
input:hover, textarea:hover {
    background-color: #fff; 
}


input[type="submit"] {
    background-color: #00000045; 
    color: rgb(209, 226, 241);
    width: 100px;
    padding: 5px; 

    border-radius: 100px; 
    cursor: pointer; 
    font-family: 'Courier Prime', monospace;
    font-size: 14px; 
  }



  
  
  
