.contain {
  display: grid;
  grid-template-columns: 1fr 1fr; 
  grid-gap: 10px; 
  background-color: rgba(20, 21, 25, 1) ;
  color: rgb(209, 226, 241);
  padding: 30px;
  > *:first-child {
  grid-column: 2; 
}
}


.parte1{
  order: 1fr;
  flex-direction: column;
  text-align: center;
  
}
.title {
  font-size: 30px;
  font-family: 'Courier Prime', monospace;
}

.listContainer {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-content: space-around;
  align-items: center;
  background-color: rgba(98, 255, 255, 0.732);
}

.listItem {
  color: rgba(20, 21, 25, 1);
  margin: 5px;
  padding: 4px 10px;
  font-family: 'Courier Prime', monospace;
  font-weight: lighter;
  font-size: small;
  
}


@media screen and (max-width: 768px) {
  .contain {
    grid-template-columns: 1fr;
    align-items: center;
  }

}